/.idea/.gitignore
/boot_/boot
/root
/games/migrations/0001_initial.py
/main/migrations/0001_initial.py
/media/chat_files/12.pdf
/games/migrations/__init__.py
/main/migrations/__init__.py
/media/chat_files/cuda_.cu
/db_2.sqlite3
/db_3.sqlite3
/media/chat_files/djangoProject2.zip
/media/chat_files/ggwp.jpg
/media/chat_images/ggwp.jpg
/media/chat_images/ggwp_3uc2Me6.jpg
/media/chat_files/ggwp_7URggVR.jpg
/media/chat_images/ggwp_aVeJpjC.jpg
/media/chat_images/ggwp_ET4Mscc.jpg
/media/chat_files/ggwp_g4lKIO5.jpg
/media/chat_files/ggwp_JMoGBib.jpg
/media/chat_images/ggwp_Zr1yJw6.jpg
/messages.txt
/media/chat_files/SPEED2.EXE
/media/chat_files/tanki.png
/media/chat_images/tanki.png
/media/images/tanki_PzwQAAv.png
/media/images/tanki_PzwQAAv_444x250.png
/media/chat_images/Y4M4RDhU1s3zfBFQBtHtghhXui24RcShAsYPRrqKvW_b-X6_lzQ0We2Hv5tDsJ8WkwAX3dvOeFvf_2FfADsZ.jpg
/media/chat_images/Y4M4RDhU1s3zfBFQBtHtghhXui24RcShAsYPRrqKvW_b-X6_lzQ0We2Hv5tDsJ8WkwAX3dvOeFvf_7WjjS0Q.jpg
/media/chat_files/Группа_20931___Расписание_занятий_НГУ.pdf
/media/chat_files/Группа_20931___Расписание_занятий_НГУ_dEjUKNs.pdf
/media/chat_files/Группа_20931___Расписание_занятий_НГУ_X6JPfkC.pdf
/media/chat_files/ПАК_2_пара.mp4
