{% extends 'main/index.html' %}
{% block content %}
  {% if ans %}
  <div class="alert alert-{{ type }}" role="alert">
    <h4 class="alert-heading">{{ ans }}</h4>
  </div>
{% endif %}


{% if chat %}

  {% for msg in chat.all %}

  <h10>{{ msg.pub_date }} {{ msg.author }}:</h10>
  <br>
  <h5>    {{ msg.text }}</h5>
  <br>
  <br>
  <br>

  {% endfor %}

<form method="post" action="">
{% csrf_token %}

{{ form.text.label_tag }}

  {{ form.text }}


<input type="submit" name="next" value="send" />

<!--<input type="hidden" name="next" value="{{ next }}" />-->


</form>
{% else %}
  <form method="GET" action="/chat/create">
{% csrf_token %}

{% if user.is_authenticated %}

 <p>create dialog with user <input type="text" name="u_name"></p>
<input type="submit" name="next" value="create" />
<br><br>

{% endif %}

</form>

{% endif %}


{% if not chats and not chat %}
    {% if user.is_authenticated %}
        <div class="panel panel-body">
          <p>Nothing to show.</p>
        </div>
    {% endif %}
{% else %}

    {% for gg in chats %}

      id =  {{ gg.id }}
  <br>
      name =
        {% if gg.members.all.1.username == user.username %}
            {{ gg.members.all.0 }}
        {% else %}
            {{ gg.members.all.1 }}
        {% endif %}
  <br>
  <a href="/chat/{{ gg.id }}">к чату</a>
  <br>
  <br>

    {% endfor %}

{% endif %}
{% endblock %}

  
