{% extends 'main/index.html' %}

{% block content %}

    <style>
.right{
     float: right;
}

.prokrutka {
height: 800px; /* высота нашего блока */
/*width: 200px;  ширина нашего блока */
background: #ecedee; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow-x: hidden; /* прокрутка по горизонтали */
overflow-y: auto; /* прокрутка по вертикали */
display: flex;
flex-direction: column-reverse;
    /* нужно сделать промотку вниз чата при открытии страницы */
}
/* Chat containers */
.msg_drop {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    float: left;
    max-width: 90%;

}

/* Darker chat container */
.drk {
    border-color: #ccc;
    background-color: #ddd;
    float: right;
}

/* Clear floats */
.msg_drop::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.msg_drop p1 {
    float: left;
    color: #006b1b;
}

/* Style the right image */
.msg_drop p1.right {
    float: right;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.inp-form {
    position: absolute;
    bottom:0;
}
</style>

{% if chat %}

    <div class="prokrutka">

        {% for msg in chat.all %}

{#            <h10>{{ msg.pub_date }} {{ msg.author }}:</h10>#}
{#            <br>#}
{#            <h5>    {{ msg.text }}</h5>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
            {% if msg.author == user %}

<div class="msg_drop drk">
    {#  <img src="/media/images/no-image.jpg" alt="Avatar" class="right">#}
    <p1 class="left">{{ msg.author }}</p1>

  <br>
  <p> {{ msg.text }}</p>
      {% if  msg.image%}
          {{ msg.image }}
          <iframe src="{{ msg.image }}" width="800" height="550" scrolling="no" allowfullscreen="true" border="0"></iframe>
          {% endif %}
  <span class="time-right">{{ msg.pub_date }}</span>
</div>

                 {% else %}
<div class="msg_drop">
{#  <img src="/w3images/bandmember.jpg" alt="Avatar">#}
    <p1 class="left">{{ msg.author }}</p1>

  <br>
  <p>{{ msg.text }}</p>
  <span class="time-right">{{ msg.pub_date }}</span>
</div>
    {% endif %}


        {% endfor %}

</div>
    <form method="post" action="" class="dropzone" enctype="multipart/form-data">
    {% csrf_token %}
<center class="inp-form">
{{ form.text.label_tag }}

  <input type="text" name="text" autocomplete="off" size=140>
    <input type="file" name="image"/>
 <button type="submit">send</button>





</center>
{#<div class="container drk">#}
{#    <form id="add-photos" action="chat/upload" class="dropzone">#}
{#        {% csrf_token %}#}
{#        <input type="file" name="image"/>#}
{##}
{#    </form>#}
{#</div>#}

<!--<input type="hidden" name="next" value="{{ next }}" />-->




          <!-- Button trigger modal -->
{#          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">#}
{#            прикрепить#}
{#          </button>#}
{##}
{##}
{#          <!-- Modal -->#}
{#          <div class="modal  text-black" tabindex="-1" id="login">#}
{#            <div class="modal-dialog" role="document">#}
{#              <div class="modal-content rounded-5 shadow" ondrop="dropHandler(event)">#}
{#                <div class="modal-header p-5 pb-4 border-bottom-0">#}
{#                  <h2 class="fw-bold mb-0">Прикрепите файл</h2>#}
{#                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                </div>#}
{#                  #}
{#                  <input type="file" name="image" accept="image/*" required="" id="id_image">#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}



</form>

{% else %}



{% if user.is_authenticated %}

 create dialog with user
     <div id="search">
        <form  action="/chat/search">
            {% csrf_token %}
            <input type="text" name="u_name" placeholder="Search">
            <input type="submit" name="next" value="create">
        </form>
      </div>

<br><br>

{% endif %}


{% endif %}


{% if not chats and not chat %}
    {% if user.is_authenticated %}
        <div class="panel panel-body">
          <p>Nothing to show.</p>
        </div>
    {% endif %}
{% else %}

    {% for gg in chats %}

      id =  {{ gg.id }}
  <br>
      name =
        {% if gg.members.all.1.username == user.username %}
            {{ gg.members.all.0 }}
        {% else %}
            {{ gg.members.all.1 }}
        {% endif %}
  <br>
  <a href="/chat/{{ gg.id }}">к чату</a>
  <br>
  <br>

    {% endfor %}

{% endif %}
    <script>
          {#<!-- Начало кода для для работы csrf с ajax -->#}
          function getCookie(name) {
              var cookieValue = null;
              if(document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for(var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      if(cookie.substring(0, name.length + 1) == (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }

          $.ajaxSetup({
              global: true,
              beforeSend: function(xhr, settings) {
                  if(!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                      xhr.setRequestHeader("Content-Type", 'application/x-www-form-urlencoded; charset=UTF-8');
                  }
              },
              timeout: 8000
          });
          <!-- /Конец кода для работы csrf с ajax -->

          <!-- Подключение автодополнения -->
          $('#search input[name="u_name"]').autocomplete({
              'source': "/chat/search",
              'minLength': 2,
              'appendTo': "#search"
          });
          function dropHandler(ev) {
              console.log('File(s) dropped');

              // Prevent default behavior (Prevent file from being opened)
              ev.preventDefault();

              if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to access the file(s)
                for (var i = 0; i < ev.dataTransfer.items.length; i++) {
                  // If dropped items aren't files, reject them
                  if (ev.dataTransfer.items[i].kind === 'file') {
                    var file = ev.dataTransfer.items[i].getAsFile();
                    console.log('... file[' + i + '].name = ' + file.name);
                  }
                }
              } else {
                // Use DataTransfer interface to access the file(s)
                for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                  console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                }
              }
          }
      </script>
{% endblock %}

