{% extends 'main/index.html' %}
{% block content %}


{% if game %}
<h1>
<p> {{ game.id }} </p>
</h1>
</h10>
<p> {{ game.description }} </p>
</h10>
{#    <img src="{{ game.image.url }}">#}
{#    <img src="{{ game.icon_image_250 }}">#}
<ul>

    <iframe src={{ game.src }} width="800" height="550" scrolling="no" allowfullscreen="true" border="0" frameborder="0"></iframe>

</ul>

<a href="{{ game.src }}">full screen?</a>
{%  endif %}

{% if all_games %}
<table>
    {% for game in all_games %}
        <td>
        <a href="{% url 'games:game' game.id %}"> <center><h1>{{ game.id }}</h1> <img src = {{ game.icon_image_250 }}> <br> {{ game.description }}</center></a>

    {% endfor %}
</table>
{% endif %}
{% endblock %}



