<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>

</tr>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
  <td>{{ form.mail.label_tag }}</td>
  <td>{{ form.mail }}</td>
</tr>


<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" name="next" value="login" />
<input type="submit" name="next" value="registr" />

<!--<input type="hidden" name="next" value="{{ next }}" />-->


</form>